@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
body {
    padding: 2em;
}

article {
    columns: 2 1rem;
    column-rule: solid 1px black;
    column-gap: 2rem;
    column-width: 300px;
}

ol {
    padding: 0;
    margin: 0 0 30px;
}

li {
    padding: 0;
    margin: 0 0 20px;
    list-style-position: inside;
}

p {
    font-family: 'PT Sans', sans-serif;
    text-indent: 1rem;
    margin: 0 0 30px;
}

li p {
    margin: 10px 0;
    font-family: 'PT Sans', sans-serif;
}